api/node_modules
engine/node_modules
ws/node_modules
db/node_modules
filling-script/node_modules
# filter/node_modules
# *.node_modules

api/dist
engine/dist
ws/dist
db/dist
filling-script/dist
# filter/dist

.env
*.env
api/.env
ws/.env
engine/.env
db/.env
filling-script/.env
# filter/.env